
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(114, 250, 243);
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input {
  width: 500px;
  height: 50px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.addTask{
  border-radius: 8px;
  height: 30vh;
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  color: #0d0220;
  display: flex;
  align-items: center;
  justify-content: center;
}


.task button {
  width: auto;
  height: 50px;
  margin-left: 5px;
  text-align: center;
}